.AddToCart {
    
    .colors {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .color {
            display: flex;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
    }
}