.CartItem {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 2rem 0;
    margin: auto;

    .part-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        .img {
            margin: 0;
            padding: 0;
            overflow: hidden;

            img {
                width: 3.5rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            text-align: left;

            p {
                padding: 0.25rem;
                align-items: center;
                justify-content: center;

                button {
                    content: "";
                    height: 0.85rem;
                    width: 0.85rem;
                    border: none;
                    border-radius: 50%;
                }
            }
        }
    }

    .remove-icon {
        color: red;
        cursor: pointer;
    }
}