.FilterSection {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 95%;
    padding: 2rem;
    gap: 1.5rem;

    h3 {
        font-size: 1.5rem;
        text-align: left;
    }

    .search {

        input {
            padding: 10px;
            width: 100%;
        }
    }

    .category {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    .colors {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .color-div {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .color-btn {
                content: "";
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                align-items: center;
                justify-content: center;

                .check-icon {
                    background-color: rgb(100, 100, 100);
                    color: rgb(0, 0, 0);
                    font-size: 0.85rem;
                }
            }
        }
    }

    .clear-filter {
        button {
            padding: 8px;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: aliceblue;
            }
        }
    }
}

@media screen and (max-width: 767px) {}