@import "./Variables.scss";

@mixin ai-jc-ta($ai, $jc, $ta) {
    align-items: $ai;
    justify-content: $jc;
    text-align: $ta;
}

@mixin m-p($m, $p) {
    margin: $m;
    padding: $p;
}

@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
}

.Footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    background-color: $color-heading;
    color: white;
    padding: 2rem;
    gap: 2rem;

    .part1 {
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: auto;
        justify-content: space-between;
        box-shadow: $color-shadow-support;
        padding: 1.5rem;
        background-color: rgba(255, 255, 255, 1);
        color: rgb(0, 0, 0);
        border-radius: 15px;

        h4 {
            font-size: 1rem;
        }

        .button {
            font-size: 1rem;
            display: flex;
            padding: 8px 12px;
            border: 1px solid black;
            align-items: center;
            color: $color-heading;
            font-weight: 600;

            &:hover {
                border-radius: 15px;
                transition: ease 0.5s;
                color: black;
            }
        }
    }

    .part2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        @include ai-jc-ta(center, center, center);

        .division1 {
            @include ai-jc-ta(center, center, left)
        }

        .division2 {
            p {
                font-size: 1rem;
            }

            input {
                @include m-p(auto, 5px)
            }

            button {
                padding: 5px;
                cursor: pointer;

                &:hover {
                    color: orangered;
                }
            }
        }

        .division3 {
            display: flex;
            flex-direction: column;
            width: 100%;
            @include ai-jc-ta(center, center, center);
            gap: 1.5rem;

            div {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                a {
                    padding: 5px;
                    border: none;
                    clip-path: circle();
                    @include ai-jc-ta(center, center, center);

                    &:hover {
                        background-color: rgb(255, 255, 255);
                    }
                    .icon {
                        width: 2rem;
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }
    }

    .part3{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include ai-jc-ta(center, center , center );
        width: 100%;

        div{
            @include flex( column );
            @include ai-jc-ta(center, center , center );
        }
        .copyright{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }

}