.Products {
    display: flex;

    .leftSection {
        flex: 0 0 auto;
        width: 10rem;
    }

    .rightSection {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .fixedSection {
            flex: 0 0 auto;
            position: sticky;
            top: 0;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }

        #filter-section {
            display: none;
        }

        .scrollableSection {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }
}

@media screen and (max-width: 650px) {

    .Products {

        .leftSection {
            display: none;
        }

        .rightSection {
            position: relative;

            #filter-section {
                display: contents;
            }

            .filter-section {

                button {
                    width: auto;
                    margin: auto;
                    cursor: pointer;
                    padding: 10px;
                }
            }
        }
    }
}