.Products {
    display: flex;
    flex-direction: column;

    .search {
        margin: 1rem auto 0.25rem auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            padding: 0.5rem;
            width: 60%;
            border: 2px solid black;
        }
    }

    .product {
        display: flex;
        flex-direction: row;

        .leftSection {
            flex: 0 0 auto;
            width: 10rem;
        }

        .rightSection {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            #filter-section {
                display: none;
            }

            .fixedSection {
                flex: 0 0 auto;
                top: 0;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }

            .scrollableSection {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1 1 auto;
                overflow-y: auto;
            }
        }
    }
}

@media screen and (max-width: 650px) {

    .Products {

        .product {

            .leftSection {
                display: none;
            }

            .rightSection {
                position: relative;

                #filter-section {
                    display: contents;
                }
            }
        }
    }
}