.Products {
    display: flex;

    .leftSection {
        flex: 0 0 auto;
        width: 10rem;
    }

    .rightSection {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .fixedSection {
            flex: 0 0 auto;
            position: sticky;
            top: 0;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }

        .scrollableSection {
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }
}