.Profile {
    padding: 2.5rem;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;

    .image {
        padding: 0;
        overflow: hidden;

        img {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            overflow: hidden;
            border-radius: 15px;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        div {
            gap: 0.5rem;
            display: flex;
            align-items: center;
            flex-direction: row;

            .verified {
                flex-wrap: wrap;
                flex-direction: row;
                gap: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}