$color-black: #000;
$color-white: #fff;
$color-bg: #1a1a1a;
$color-text: #d3d3d3;
$color-heading: #5138ee;
$color-border: #d3d3d3;
$color-btn: #5138ee;
$color-helper: #fff;
$color-shadow-support: 0px 0px 8px rgba(0, 0, 0, 0.2);
$color-bg-white: #f8f9fa;

$font-size-h1: 6rem;
$font-size-h2: 4.4rem;
$font-size-h3: 1.8rem;
$font-size-p: 1.65rem;
$font-size-caption: 1.2rem;
$font-size-btn: 1.8rem;
$font-weight-h1: 900;
$font-weight-h2: 300;
$font-weight-h3: 400;
$font-weight-p: 400;
$font-weight-common-heading: 600;

$margin-bottom-common-heading: 6rem;

$padding-input: 1.6rem 2.4rem;
$padding-btn: 1.4rem 2.2rem;

$max-width-container: 120rem;
$max-width-input: 50rem;
$max-width-btn: 16rem;

$gap-grid: 9rem;
$gap-grid-mobile: 3.2rem;

$max-width-container-mobile: 130rem;

$media-tab: 768px;
$media-mobile: 480px;